cffi==2.0.0
colorlog==6.9.0
coverage==7.10.7
cryptography==46.0.2
gcovr==8.4
grpcio==1.75.1
grpcio-tools==1.75.1
imageio==2.31.1
imutils==0.5.4
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
numpy==1.26.4
opencv-contrib-python==4.6.0.66
opencv-python==4.10.0.82
opencv-python-headless==4.11.0.86
pillow==11.3.0
protobuf==6.31.1
pycparser==2.23
Pygments==2.19.2
pyzmq==27.1.0
scipy==1.16.2
setuptools==80.9.0
sk-video==1.1.10
typing_extensions==4.15.0
zmq==0.0.0
