blinker==1.8.2
cffi==1.17.1
click==8.1.7
colorlog==6.8.2
coverage==7.6.2
cryptography==43.0.1
Flask==3.0.3
gcovr==8.0
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
protobuf==4.24.2
pycparser==2.22
Pygments==2.18.0
pyzmq==26.0.3
scipy==1.14.1
sk-video==1.1.10
Werkzeug==3.0.6
